.background-login{
    background-image: url('/assets/img/login.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.whiteparch{
    background-color: #fefefe;
    border-radius: 7px;
}